@charset "UTF-8";

.contact {
  padding: 70px 0 70px 0;
  background-color: #fff;
}

.contact-inner {
  width: 70%;
  height: 100%;
  margin: 40px auto 0 auto;
  text-align: left;
  background-color: #F7F7F7;
  padding: 90px;
}

.contact-label {
  padding: 2rem 0 0.5rem 0;
}

.required {
  color: #391E88;
  font-size: 12px;
  margin-left: 5%;
}

.contact-radio {
  padding-bottom: 1rem;
}

.contact-radio input {
  position: relative;
  top: -3px;
}

label+label {
  margin-left: 2rem;
}

.textarea {
  border-radius: 6px;
  border: solid #aaa 1px;
  padding: 8px;
  width: 300px;
}

.textarea-mini {
  border-radius: 6px;
  border: solid #aaa 1px;
  padding: 8px;
  width: 200px;
}

.gray {
  color: #333;
}

.contact-inner textarea {
  border-radius: 6px;
  border: solid #aaa 1px;
  padding: 8px;
  width: 60%;
  height: 20rem;
  width: 300px;
}

.contact-inner select {
  border-radius: 6px;
  border: solid #aaa 1px;
  padding: 8px;
  width: 300px;
}

.more-btn {
  display: block;
  text-align: center;
}

.more-btn button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 18px 70px;
  background: rgb(118, 51, 164);
  background: linear-gradient(90deg, rgba(118, 51, 164, 1) 0%, rgba(37, 13, 101, 1) 100%);
  border-radius: 50px;
  border: 0;
  margin-top: 50px;
}

@media screen and (max-width:570px) { 

  .contact-subtext {
    width: 80%;
    margin: 0 auto;
  }

  .contact {
    width: 100%;
    margin: 0 auto;
  }

  .contact-radio > label {
    display: block;
    margin-top: 10px;
  }

  label+label {
    margin: 10px 0 0 0;
  }

  .textarea {
    width: 70%;
  }

  .textarea-mini {
    width: 65%;
  }

  .contact-inner {
    width: 80%;
    padding: 20px;
  }

  .contact-inner textarea {
    height: 200px;
    width: 90%;
  }

}