@charset "UTF-8";

.service-outer {
  width: 80%;
  margin: 70px auto 0 auto;
}

.service-inner {
  display: flex;
  margin-bottom: 60px;
}

.service-inner:last-child {
  margin-bottom: 110px;
}

.service-img {
  width: 40%;
}

.service-img img {
  width: 100%;
}

.service-text {
  width: 60%;
  margin: 1rem 0 0 50px;
}

.service-text h2 {
  font-family: Montserrat;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.service-text p {
  line-height: 1.5rem;
}

@media screen and (max-width:570px) {

  .service-inner {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
  }

  .service-img {
  width: 100%;
  margin-bottom: 18px;
  }

  .service-text {
    width: 100%;
    margin: 0;
  }

  .service-text h2 {
    text-align: center;
  }

}